# parameters

>input
namespace=ENSEMBL
# input type "FASTA" or "identifiers"
input_type=FASTA
#input_type=identifiers

>fromFASTAToDNASequenceCollection
articleName=sequences
authURI=genome.imim.es
outputType=DNASequence

>getUpstreamSeqfromEnsembl
articleName=genes
authURI=genome.imim.es
species=homo_sapiens
upstream_length=500
downstream_length=0
intergenic_only=false
outputType=CommentedDNASequence

>runMemeText
articleName=sequences
authURI=genome.imim.es
maximum_number_of_motifs=6
maximum_optimum_width=10
motif_E_value_cutoff=1000
outputType=MEME_Text
software=MEME

>runMemeHTML
articleName=sequences
authURI=genome.imim.es
maximum_number_of_motifs=6
maximum_optimum_width=10
motif_E_value_cutoff=1000
outputType=text_html
software=MEME

>parseMotifMatricesFromMEME
articleName=meme_predictions
authURI=genome.imim.es

>runMatScanGFFCollectionVsInputMatrices
articleName_1=sequences
articleName_2=motif_weight_matrices
authURI=genome.imim.es
outputType=GFF
software=MatScan

>runMultiPairwiseMetaAlignmentGFF
articleName=maps
authURI=genome.imim.es
outputType=Meta_Alignment_Text
software=meta-alignment

>runMultiPairwiseMetaAlignment
articleName=maps
authURI=genome.imim.es
outputType=Meta_Alignment_Text
software=meta-alignment

# >generateScoreMatrix
>fromMetaAlignmentsToTextScoreMatrix
articleName=similarity_results
authURI=genome.imim.es
outputType=MicroArrayData_Text
software=score_matrix

# Still inab production...

>inbHierarchicalCluster
articleName=
authURI=bioinfo.ochoa.fib.es
software=cluster
outputType=Newick_Text

>inbTreeView
articleName=
authURI=bioinfo.ochoa.fib.es
outputType=b64_Encoded_PNG
software=clustering_tree
