# parameters

>input
namespace=ENSEMBL
# input type "FASTA" or "identifiers"
input_type=FASTA

#>input
#namespace=ENSEMBL
#type=identifiers

>fromFASTAToDNASequenceCollection
articleName=sequences
authURI=genome.imim.es
outputType=fasta

>getUpstreamSeqfromEnsembl
articleName=genes
authURI=genome.imim.es
species=homo_sapiens
upstream_length=1000
downstream_length=0
intergenic_only=false
outputType=fasta

>runMatScanGFFCollection
articleName=sequences
authURI=genome.imim.es
outputType=GFF
software=MatScan

>runMultiPairwiseMetaAlignmentGFF
articleName=maps
authURI=genome.imim.es
outputType=Meta_Alignment_Text
software=meta-alignment

>runMultiPairwiseMetaAlignment
articleName=maps
authURI=genome.imim.es
outputType=Meta_Alignment_Text
software=meta-alignment

# >generateScoreMatrix
>fromMetaAlignmentsToTextScoreMatrix
articleName=similarity_results
authURI=genome.imim.es
outputType=MicroArrayData_Text
software=score_matrix

>inbHierarchicalCluster
articleName=
authURI=bioinfo.ochoa.fib.es
software=cluster
outputType=Newick_Text

>inbTreeView
articleName=
authURI=bioinfo.ochoa.fib.es
outputType=b64_Encoded_PNG
software=clustering_tree
