###########################################
#
# figure1_left.rc
#
# $Id: figure1_left.rc,v 1.1 2003-06-05 18:14:40 jabril Exp $
#
###########################################

#
# L # Page Layout Section

show_percent_box=on
aplot_score_range=0..1
major_tickmark_score=0.25
minor_tickmark_score=0.05
zoom_area_mark_color=violet
zoom_area_fill_color=paleviolet
group_x_label_angle=45
group_y_label_angle=315
percent_box_label=Identity%
show_percent_box=on


#
# G # GFF-groups Section

*::group_shape=arrow
/.*polyA.*/::group_shape=none
/.*polyA.*/::show_group_label=off


#
# F # GFF-features Section

*::ribbon_style=ribbons
seqbounds::hide=on
alignment::hide=on
fragment::alignment_scale_color=on
fragment::feature_color=black
3'-utr::feature_color=grey
3'-utr::show_ribbons=off
polya::feature_color=grey
polya::show_ribbons=off
First::feature_color=lightgreen
First::show_ribbons=on
First::ribbon_color=palegreen
Internal::feature_color=lightgreen
Internal::show_ribbons=on
Internal::ribbon_color=palegreen
Terminal::feature_color=lightgreen
Terminal::show_ribbons=on
Terminal::ribbon_color=palegreen
