###########################################
#
# figure1_left.rc
#
# $Id: figure1_left_zoom.rc,v 1.1 2003-06-05 18:14:40 jabril Exp $
#
###########################################

#
# L # Page Layout Section

group_x_label_angle=45
group_y_label_angle=315
aplot_box_bgcolor=verypaleviolet
aplot_score_range=0..1
show_percent_box=on
percent_box_label=Identity%
percent_box_bgcolor=verypaleviolet
percent_box_score_range=0.2..1.0
major_tickmark_score=0.2
minor_tickmark_score=0.05
zoom_area_mark_color=violet
zoom_area_fill_color=paleviolet
zoom_marks=on


#
# G # GFF-groups Section

*::group_shape=arrow
/.*polyA.*/::show_group_label=on
/.*polyA.*/::group_shape=bracket
/.*polyA.*/::show_group_limits=on
/.*Gene.*/::show_group_label=off
/.*Gene.*/::group_shape=none


#
# F # GFF-features Section

*::ribbon_style=ribbons
seqbounds::hide=on
alignment::hide=on
fragment::alignment_scale_color=on
fragment::feature_color=black
/^p(First|Internal|Terminal)$/::feature_color=red
/^p(First|Internal|Terminal)$/::feature_shape=box
/^p(First|Internal|Terminal)$/::show_ribbons=on
/^p(First|Internal|Terminal)$/::ribbon_color=verylightred
/^(First|Internal|Terminal)$/::feature_color=lightgreen
/^(polya|3'-utr)$/::feature_color=grey
/^(polya|3'-utr|First|Internal|Terminal)$/::feature_shape=half_box
/^(polya|3'-utr|First|Internal|Terminal)$/::show_ribbons=on
/^(First|Internal|Terminal)$/::ribbon_color=limegreen
/^(polya|3'-utr)$/::ribbon_color=grey

#
# S # GFF-sequence Section

sgp::source_layer=1
genbank::source_layer=2
