##################################################
#
# four_strands.rc
#
#  "Representing Strand on Alignment Features"
#    Checking strand orientation for
#    alignment features in aplot old format
#
# $Id: four_strands.rc,v 1.1 2002-01-11 19:28:39 jabril Exp $
#
##################################################

#
# L #### Setting global customization variables
#

## Removing group labels
show_group_label=off
group_label_fontsize=0

## Showing feature labels
show_feature_label=on
feature_label_fontsize=10pt

## Labels on axes
x_label=Sequence on X-axes
y_label=Sequence on Y-axes

## Alignment
alignment_scale_width=on

#
# G #### Setting group customization variables
#

## Removing group bracket
*::group_shape=none

#
# F #### Setting GFF-feature customization variables
#

## Shapes
/^(fwd|rev)$/::feature_shape=half_single

## Labels
fwd::feature_label=FORWARD
rev::feature_label=REVERSE

## Alignment colors
fwdfwd::alignment_color=blue
fwdrev::alignment_color=red
revfwd::alignment_color=orange
revrev::alignment_color=green
unknwn::alignment_color=grey

## 
