##################################################
#
# four_strands_extra.rc
#
#  "Representing Strand on Alignment Features"
#    Checking strand orientation for
#    alignment features in aplot old format
#
# $Id: four_strands_extra.rc,v 1.1 2002-01-11 19:28:39 jabril Exp $
#
##################################################

#
# X #### Extra plot features
#

#
# arrow  <Cx> <Cy> <length>
#       [ A:<angle> ] [ L:<line_color> ] [ S:<line_style> ] [ W:<line_width> ] 
#       [ N:<font_name> ] [ Z:<font_size> ] [ H:<horizontal_align> ] [ V:<vertical_align> ]
#       [ T:<text_color> ] [ "<string>" ]

arrow 1000 1000 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ + ]"
arrow  500  500 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ + + ]"
arrow  600 1200 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ + . ]"
arrow  500 2500 60pt A:0   W:2.5pt N:helvetica-bold Z:12pt "[ + - ]" V:center
arrow 1000 2000 70pt A:90  W:2.5pt N:helvetica-bold Z:12pt
arrow 2400 1800 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ . + ]"
arrow 1400  800 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ . ]"
arrow 1100  500 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ . . ]"
arrow  600 1800 30pt A:55  W:2.5pt N:helvetica-bold Z:12pt "[ . - ]"
arrow 2000 1000 70pt A:-90 W:2.5pt N:helvetica-bold Z:12pt
arrow 2500  500 60pt A:180 W:2.5pt N:helvetica-bold Z:12pt "[ - + ]" V:center
arrow 2400 1200 30pt A:55  W:2.5pt N:helvetica-bold Z:12pt "[ - . ]"
arrow 2500 2500 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ - - ]"
arrow 2000 2000 30pt A:125 W:2.5pt N:helvetica-bold Z:12pt "[ - ]"
