
    <center>
    <!-- <form method="post" action="/cgi-bin/moby/Gene_Clustering_Workflow_Data_Submission_Ajax.cgi" enctype="multipart/form-data"> -->
	<font face="helvetica" size="2" color="green">Select the type of data you wish to submit:</font><br><br>
	<input type='radio' name='datatype' value='LIST' id='listdatatype'>List of genes&nbsp;&nbsp;&nbsp;&nbsp;
	<input type='radio' name='datatype' value='FASTA' id='fastadatatype'>FASTA sequences<br><br>
	
        <!-- <input type="submit" value="Submit Data Type"> &nbsp; <input type="reset"> -->
    <!-- </form> -->
    </center>
        
    <em id="inputsubmission"></em>
