<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>
      Co-expressed Gene Clustering Workflow
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Generator" content="Hacker Hands - from geneid server">
    <meta name="author" content="Arnaud Kerhornou"><!-- KEYWORDS and DESCRIPTION for INTERNET SEARCH ENGINES -->
    <meta name="keywords" content="co-expressed gene clustering workflow biomoby meta-alignment">
    <meta name="description" content="This is the submission page to execute the co-expressed genes clustering workflow, based on the meta-alignment pairwise alignments.">

    <!--
    Following INB stylesheet now!
    -->
    <link href="/webservices/genoma.css" rel="stylesheet" type="text/css">
    <!--
    Not following the GRIB style any longer...
    <link rel="stylesheet" type="text/css" href="/webservices/Genome_GRIB.css" title="Genome">
    -->

<style type="text/css">
    @import url(/Genome_forms_mozilla.css);
</style>
<script type="text/javascript" src="/Genome.js"></script>
<script type="text/javascript" src="/webservices/datatype.js"></script>
  </head>
  <body onresize="init();" marginwidth="2" marginheight="0">
  
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tbody><tr>
      <td height="693" valign="top" width="1066">
      <table align="center" bgcolor="#a1a1a1" border="0" cellpadding="1" cellspacing="1" height="100%" width="760">
        <tbody><tr>
          <td align="center" bgcolor="#ffffff" valign="top" width="796">
            <table border="0" cellpadding="0" cellspacing="0" width="758">
              <tr>
                <td height="28" width="11" valign="bottom"><img src="/webservices/images/logo_01.gif" usemap="#Map" border="0" height="28" width="111"></td>
                <td align="center" class="nom_grup_capsalera"><a href="http://www.inab.org/en/organization.htm"><h3>Bioinformatics and Genomics Node</h3></a></td>
                <td align="right">
                 <table cellpadding="1" cellspacing="1">
                  <tr>
                   <td height="2" bgcolor="#B7E505"></td>
                   <td height="2" bgcolor="#0066CC"></td>
                   <td height="2" bgcolor="#CC6600"></td>
                   <td height="2" bgcolor="#E50083"></td>
		   <td height="2" bgcolor="#660099"></td>
                  </tr>
                  <tr>
                   <td align="center" height="20" bgcolor="#B7E505">&nbsp;&nbsp;<a class="index" href="/webservices/index.html">OVERVIEW</a>&nbsp;&nbsp;</td>
                   <td align="center" height="20" bgcolor="#0066CC">&nbsp;&nbsp;<a class="index" href="/webservices/webservices.html">WEBSERVICES</a>&nbsp;&nbsp;</td>
                   <td align="center" height="20" bgcolor="#CC6600">&nbsp;&nbsp;<a class="index" href="/webservices/workflows.html">WORKFLOWS</a>&nbsp;&nbsp;</td>
                   <td align="center" height="20" bgcolor="#E50083">&nbsp;&nbsp;<a class="index" href="/webservices/clients.html">CLIENTS</a>&nbsp;&nbsp;</td>
                   <td align="center" height="20" bgcolor="#660099">&nbsp;&nbsp;<a class="index" href="/webservices/contact.html">CONTACT US</a>&nbsp;&nbsp;</td>
                  </tr>
                  <tr>
                   <td height="5" bgcolor="#CCFFCC"></td>
                   <td height="5" bgcolor="#CCFFFF"></td>
                   <td height="5" bgcolor="#FAEADA"></td>
                   <td height="5" bgcolor="#FBD6EB"></td>
		   <td height="5" bgcolor="#FBD6FF"></td>
                  </tr>
                 </table>
                </td>
              </tr>
              <tr> 
                <td height="28"><img src="/webservices/images/logo_inb.gif" usemap="#Map2" border="0" height="27" width="111"></td>
                <td colspan="2" background="/webservices/images/gris_p.gif"></td>
              </tr>
            </table>
      </td>
      </tr>
      <tr>
      <td align="left" bgcolor="#ffffff" valign="top" width="796">
    <br>
    <center><h2>
        Co-expressed gene clustering workflow submission page
    </h2>
    </center>
    <br>
    
     <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="section" border="0" cellpadding="0" cellspacing="0" width="80%" align="left">
            <font size="5" class="K">Data input</font>
          </td>
          <td class="section" border="0" cellpadding="0" cellspacing="0" width="20%" align="right">
            <a href="#TOP"><img class="pnt" src="/webservices/images/top.gif" height="15" width="15" border="0"></a>
          </td>
        </tr>  
      </table>
      <br>
