#
# Axes annotation for color example
# X #

# box <Xori> <Xend> <Yori> <Yend>
#     [ L:<line_color> ] [ S:<line_style> ] [ W:<line_width> ]
#     [ F:<fill_color> ] [ K:<score> ]
box 25 125 25 125 L:black S:solid W:1pt F:verypalegrey
box 25 125 125 225 L:black S:solid W:1pt F:palegrey
box 25 125 225 325 L:black S:solid W:1pt F:verylightgrey
box 25 125 325 425 L:black S:solid W:1pt F:lightgrey
box 25 125 425 525 L:black S:solid W:1pt F:grey
box 25 125 525 625 L:black S:solid W:1pt F:darkgrey
box 25 125 625 725 L:black S:solid W:1pt F:verydarkgrey
box 25 125 725 825 L:black S:solid W:1pt F:deepgrey
box 25 125 825 925 L:black S:solid W:1pt F:verydeepgrey
box 125 225 25 125 L:black S:solid W:1pt F:verypalepink
box 125 225 125 225 L:black S:solid W:1pt F:palepink
box 125 225 225 325 L:black S:solid W:1pt F:verylightpink
box 125 225 325 425 L:black S:solid W:1pt F:lightpink
box 125 225 425 525 L:black S:solid W:1pt F:pink
box 125 225 525 625 L:black S:solid W:1pt F:darkpink
box 125 225 625 725 L:black S:solid W:1pt F:verydarkpink
box 125 225 725 825 L:black S:solid W:1pt F:deeppink
box 125 225 825 925 L:black S:solid W:1pt F:verydeeppink
box 225 325 25 125 L:black S:solid W:1pt F:verypalemagenta
box 225 325 125 225 L:black S:solid W:1pt F:palemagenta
box 225 325 225 325 L:black S:solid W:1pt F:verylightmagenta
box 225 325 325 425 L:black S:solid W:1pt F:lightmagenta
box 225 325 425 525 L:black S:solid W:1pt F:magenta
box 225 325 525 625 L:black S:solid W:1pt F:darkmagenta
box 225 325 625 725 L:black S:solid W:1pt F:verydarkmagenta
box 225 325 725 825 L:black S:solid W:1pt F:deepmagenta
box 225 325 825 925 L:black S:solid W:1pt F:verydeepmagenta
box 325 425 25 125 L:black S:solid W:1pt F:verypaleviolet
box 325 425 125 225 L:black S:solid W:1pt F:paleviolet
box 325 425 225 325 L:black S:solid W:1pt F:verylightviolet
box 325 425 325 425 L:black S:solid W:1pt F:lightviolet
box 325 425 425 525 L:black S:solid W:1pt F:violet
box 325 425 525 625 L:black S:solid W:1pt F:darkviolet
box 325 425 625 725 L:black S:solid W:1pt F:verydarkviolet
box 325 425 725 825 L:black S:solid W:1pt F:deepviolet
box 325 425 825 925 L:black S:solid W:1pt F:verydeepviolet
box 425 525 25 125 L:black S:solid W:1pt F:verypaleblue
box 425 525 125 225 L:black S:solid W:1pt F:paleblue
box 425 525 225 325 L:black S:solid W:1pt F:verylightblue
box 425 525 325 425 L:black S:solid W:1pt F:lightblue
box 425 525 425 525 L:black S:solid W:1pt F:blue
box 425 525 525 625 L:black S:solid W:1pt F:darkblue
box 425 525 625 725 L:black S:solid W:1pt F:verydarkblue
box 425 525 725 825 L:black S:solid W:1pt F:deepblue
box 425 525 825 925 L:black S:solid W:1pt F:verydeepblue
box 525 625 25 125 L:black S:solid W:1pt F:verypaleskyblue
box 525 625 125 225 L:black S:solid W:1pt F:paleskyblue
box 525 625 225 325 L:black S:solid W:1pt F:verylightskyblue
box 525 625 325 425 L:black S:solid W:1pt F:lightskyblue
box 525 625 425 525 L:black S:solid W:1pt F:skyblue
box 525 625 525 625 L:black S:solid W:1pt F:darkskyblue
box 525 625 625 725 L:black S:solid W:1pt F:verydarkskyblue
box 525 625 725 825 L:black S:solid W:1pt F:deepskyblue
box 525 625 825 925 L:black S:solid W:1pt F:verydeepskyblue
box 625 725 25 125 L:black S:solid W:1pt F:verypalecyan
box 625 725 125 225 L:black S:solid W:1pt F:palecyan
box 625 725 225 325 L:black S:solid W:1pt F:verylightcyan
box 625 725 325 425 L:black S:solid W:1pt F:lightcyan
box 625 725 425 525 L:black S:solid W:1pt F:cyan
box 625 725 525 625 L:black S:solid W:1pt F:darkcyan
box 625 725 625 725 L:black S:solid W:1pt F:verydarkcyan
box 625 725 725 825 L:black S:solid W:1pt F:deepcyan
box 625 725 825 925 L:black S:solid W:1pt F:verydeepcyan
box 725 825 25 125 L:black S:solid W:1pt F:verypaleseagreen
box 725 825 125 225 L:black S:solid W:1pt F:paleseagreen
box 725 825 225 325 L:black S:solid W:1pt F:verylightseagreen
box 725 825 325 425 L:black S:solid W:1pt F:lightseagreen
box 725 825 425 525 L:black S:solid W:1pt F:seagreen
box 725 825 525 625 L:black S:solid W:1pt F:darkseagreen
box 725 825 625 725 L:black S:solid W:1pt F:verydarkseagreen
box 725 825 725 825 L:black S:solid W:1pt F:deepseagreen
box 725 825 825 925 L:black S:solid W:1pt F:verydeepseagreen
box 825 925 25 125 L:black S:solid W:1pt F:verypalegreen
box 825 925 125 225 L:black S:solid W:1pt F:palegreen
box 825 925 225 325 L:black S:solid W:1pt F:verylightgreen
box 825 925 325 425 L:black S:solid W:1pt F:lightgreen
box 825 925 425 525 L:black S:solid W:1pt F:green
box 825 925 525 625 L:black S:solid W:1pt F:darkgreen
box 825 925 625 725 L:black S:solid W:1pt F:verydarkgreen
box 825 925 725 825 L:black S:solid W:1pt F:deepgreen
box 825 925 825 925 L:black S:solid W:1pt F:verydeepgreen
box 925 1025 25 125 L:black S:solid W:1pt F:verypalelimegreen
box 925 1025 125 225 L:black S:solid W:1pt F:palelimegreen
box 925 1025 225 325 L:black S:solid W:1pt F:verylightlimegreen
box 925 1025 325 425 L:black S:solid W:1pt F:lightlimegreen
box 925 1025 425 525 L:black S:solid W:1pt F:limegreen
box 925 1025 525 625 L:black S:solid W:1pt F:darklimegreen
box 925 1025 625 725 L:black S:solid W:1pt F:verydarklimegreen
box 925 1025 725 825 L:black S:solid W:1pt F:deeplimegreen
box 925 1025 825 925 L:black S:solid W:1pt F:verydeeplimegreen
box 1025 1125 25 125 L:black S:solid W:1pt F:verypaleyellow
box 1025 1125 125 225 L:black S:solid W:1pt F:paleyellow
box 1025 1125 225 325 L:black S:solid W:1pt F:verylightyellow
box 1025 1125 325 425 L:black S:solid W:1pt F:lightyellow
box 1025 1125 425 525 L:black S:solid W:1pt F:yellow
box 1025 1125 525 625 L:black S:solid W:1pt F:darkyellow
box 1025 1125 625 725 L:black S:solid W:1pt F:verydarkyellow
box 1025 1125 725 825 L:black S:solid W:1pt F:deepyellow
box 1025 1125 825 925 L:black S:solid W:1pt F:verydeepyellow
box 1125 1225 25 125 L:black S:solid W:1pt F:verypaleorange
box 1125 1225 125 225 L:black S:solid W:1pt F:paleorange
box 1125 1225 225 325 L:black S:solid W:1pt F:verylightorange
box 1125 1225 325 425 L:black S:solid W:1pt F:lightorange
box 1125 1225 425 525 L:black S:solid W:1pt F:orange
box 1125 1225 525 625 L:black S:solid W:1pt F:darkorange
box 1125 1225 625 725 L:black S:solid W:1pt F:verydarkorange
box 1125 1225 725 825 L:black S:solid W:1pt F:deeporange
box 1125 1225 825 925 L:black S:solid W:1pt F:verydeeporange
box 1225 1325 25 125 L:black S:solid W:1pt F:verypalered
box 1225 1325 125 225 L:black S:solid W:1pt F:palered
box 1225 1325 225 325 L:black S:solid W:1pt F:verylightred
box 1225 1325 325 425 L:black S:solid W:1pt F:lightred
box 1225 1325 425 525 L:black S:solid W:1pt F:red
box 1225 1325 525 625 L:black S:solid W:1pt F:darkred
box 1225 1325 625 725 L:black S:solid W:1pt F:verydarkred
box 1225 1325 725 825 L:black S:solid W:1pt F:deepred
box 1225 1325 825 925 L:black S:solid W:1pt F:verydeepred
box 1325 1425 25 125 L:black S:solid W:1pt F:verypalebrown
box 1325 1425 125 225 L:black S:solid W:1pt F:palebrown
box 1325 1425 225 325 L:black S:solid W:1pt F:verylightbrown
box 1325 1425 325 425 L:black S:solid W:1pt F:lightbrown
box 1325 1425 425 525 L:black S:solid W:1pt F:brown
box 1325 1425 525 625 L:black S:solid W:1pt F:darkbrown
box 1325 1425 625 725 L:black S:solid W:1pt F:verydarkbrown
box 1325 1425 725 825 L:black S:solid W:1pt F:deepbrown
box 1325 1425 825 925 L:black S:solid W:1pt F:verydeepbrown
### EOF ###
