#
# plot_layers_feat2.rc
#
# $Id: plot_layers_feat2.rc,v 1.2 2002-02-01 19:14:07 jabril Exp $
#

# L #

x_label=X Sequence
y_label=Y Sequence
show_ribbons=on
ribbon_style=both
ribbon_color=verylightred

