#
# plot_layers_feat.rc
#
# $Id: plot_layers_feat.rc,v 1.3 2003-03-04 18:06:49 jabril Exp $
#
# L #
show_percent_box=on
show_extra_box=on
x_sequence_coords=0..1000
y_sequence_coords=0..1000
percent_box_label=SCORES
extra_box_label=EXTRA-BOX
background_color=lightblue
aplot_box_bgcolor=verylightblue
percent_box_bgcolor=verylightblue
extra_box_bgcolor=verylightblue
show_grid=on

#
# F #
terminal::feature_shape=half_arrow
internal::feature_shape=box
first::feature_shape=half_arrow_end
