#
# plot_layers_feat2.rc
#
# $Id: plot_layers_feat2.rc,v 1.3 2003-03-04 18:06:50 jabril Exp $
#

# L #

x_label=X Sequence
y_label=Y Sequence
show_ribbons=on
ribbon_style=both
ribbon_color=verylightred

