
      <p>
        <font color="green">Paste your list of genes here</font><br>	
        <font style='font-family: "Monospaced", "Courier", sans-serif;'>
        <textarea name="sequences" rows="10" cols="80" selected="true"></textarea></font>
      </p>
      <p>
        <font color="green">... or Upload a file with your gene identifiers to process</font><br>
        <input type="file" name="upfile"><br>
      </p>
      <center>
        <input type="submit" value="Submit Data"> <input type="reset" value="Reset form"> <input type="button" value="Example" onclick='sequences.value="H2AFO\nPSMD7\nENSG00000069275\nFLJ10111\nSQSTM1\nPSG4\nENSG00000136487\nPSG9\nPSG3\nPSG6\nPSG2\nPAPPA\nCSH2\nCYP19\nADAM12\nPSG5\nTFPI2\nPSG7\n"'>
      </center>
      <br>
      <h5>
      The example dataset corresponds to a list of Human genes that are either expressed in Breast or Placenta.<br>
      </h5>
      <br>
      
      <!-- The type of input -->
      
      <input TYPE="hidden" VALUE="LIST" NAME="input_type">
      
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
	  <td class="section" border="0" cellpadding="0" cellspacing="0" width="80%" align="left">
            <font size="5" class="K">Promoter sequences extraction configuration</font>
          </td>
          <td class="section" border="0" cellpadding="0" cellspacing="0" width="20%" align="right">
            <a href="#TOP"><img class="pnt" src="/webservices/images/top.gif" height="15" width="15" border="0"></a>
          </td>
        </tr>
      </table><br>
      
      <table border="0">
        <tr>
          <td>
            <font face="helvetica" size="2" color="green">The promoter sequence of the genes you have submitted will be retrieved from the <a href="http://www.ensembl.org" target="_blank">Ensembl</a> database (Release 43). Please select the species, the length upstream and downstream of the Transcription Start Site (TSS) of the promoter sequences you wish to analyse.<br>
          </td>
        </tr>
      </table>
	
	<table border="0" width="600" cellpadding="10" cellspacing="10">
        <tr>
          <td>
            <font face="helvetica" size="2" color="green">Species:</font><br>
          </td>
          <td>
            <font face="helvetica" size="2" color="green">Length of the sequence upstream of the TSS:</font><br>
          </td>
	  <td>
            <font face="helvetica" size="2" color="green">Length of the sequence downstream of the TSS:</font><br>
          </td>
        </tr>
        <tr>
          <td>
	    <select name="species" size=1>
	    <option selected value="Homo_sapiens">Homo sapiens
	    <option value="Mus_musculus">Mus musculus
	    <option value="Rattus_norvegicus">Rattus norvegicus
	    <option value="Gallus_gallus">Gallus gallus
	    <option value="Xenopus_tropicalis">Xenopus tropicalis
	    <option value="Danio_rerio">Danio rerio
	    <option value="Takifugu_rubripes">Takifugu rubripes
	    <option value="Drosophila_melanogaster">Drosophila melanogaster
	    <option value="Apis_mellifera">Apis mellifera
	    <option value="Caenorhabditis_elegans">Caenorhabditis elegans
	    <option value="Saccharomyces_cerevisiae">Saccharomyces cerevisiae
	    </select>
          </td>
          <td>
            <input type="text" name="upstream" value="2000">
          </td>
	  <td>
            <input type="text" name="downstream" value="0">
          </td>
        </tr>
      </table>
