/*  GENOME INFORMATICS  */
/* RESEARCH  LABORATORY */
/*  Global Style Sheet  */

/*$Id: Genome.css,v 1.1 2001-07-15 02:08:36 jabril Exp $*/

BODY, BLOCKQUOTE, P, CENTER
DD, DIV, DL, DT, FIELDSET, FORM,
FRAME, FRAMESET, IFRAME, NOFRAMES,
OBJECT, OL, APPLET,
UL, HR, MENU, PRE {
           display: block }
H1, H2, H3, H4, H5, H6 {
           display: table-cell }
LI       { display: run-in }
HEAD     { display: none }
TABLE    { display: table }
TR       { display: table-row }
TBODY    { display: table-row-group }
COL      { display: table-column }
COLGROUP { display: table-column-group }
TD, TH   { display: table-cell }
IMG      { display: run-in }

BODY {
 color: black;
 background: #009F9F;
 border-collapse: collapse;
 position: fixed;
 top: 0px;
 bottom: auto;
 left: 0px;
 right: 0px;
 padding: 0px;
 border: 0px;
 line-height: 1.33em;
}

*, .default {
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 border: 0;
 padding: 0;
 spacing: 0;
 margin: 0;
 text-indent: 0;
}

.hh {
 line-height: 80%;
}

P {
 margin-left: 10pt;
 margin-right: 10pt;
 margin-bottom: 20pt;
 text-align: justify;
 font-family: "Times", "Helvetica", serif;
 font-weight: normal;
 font-size: 10pt;
 }

.tbl {
 vertical-align: top;
 font-family: "Times", "Helvetica", serif;
/* font-weight: normal; */
 font-size: 10pt;
}

:link {
 color: #008080;
 text-decoration: none;
}
:visited {
 color: #800000;
 text-decoration: none;
}
:focus { outline: thin solid invert; }

B {
 font-weight: bold;
}

I {
 font-style: italic;
}

EM {
 display: inline-block;
 font-family: "Monospaced", "Courier", sans-serif;
 font-weight: normal;
 font-style: italic;
 font-stretch: expanded; 
 color: green;
}

TT, CODE {
 display: inline-block;
 font-family: "Monospaced", "Courier", sans-serif;
 font-weight: normal;
}

TT {
 color: gray;
 font-stretch: expanded; 
}

.K, .T { display: run-in }
H1, H2, .K, .T {
 font-family: "Arial", "Helvetica", sans-serif;
 font-weight: bold;
 font-stretch: expanded;
 border: none;
 line-height: 100%;
 color: white;
 padding: 5px;
}
H1, .T {
 font-size: 24pt;
 padding: 5px;
 text-indent: 0;
 color: white;
 }
H2, .K {
 border: none;
 padding: 0;
 text-indent: 0;
 font-size: 14pt;
 width: auto;
 }
H3 { font-size: 12pt; }
H4, UL {
 color: black;
 background: white;
 font-family: "Times", "Helvetica", serif;
 font-weight: bold;
 font-size: 10pt;
 line-height: 110%;
}

UL {
 margin-left: 0pt;
 margin-right: 10pt; 
}

UL UL {
 margin-left: 0pt;
 color: black;
 background: white;
 font-family: "Times", "Helvetica", serif;
 font-weight: normal;
 font-size: 10pt;
}

.lst {
 font-weight: normal; 
}

IMG.pnt {
 padding-left: 5px;
 padding-right: 10px;
}
IMG.mid {
 padding-left: 5px;
}

TD.path {
 border-top: 2px solid green;
 color: white;
 background: red;
 font-family: "Times", serif;
 font-size: 10pt;
 font-weight: bold;
 padding: 2px 5px;
 text-indent: 5px;
 left: 5px;
 right: 5px;
 line-height: 110%;
 width: auto;
}
.path :link, .path :visited {
 color: white;
 text-decoration: none;
}
.path :visited {
 font-weight: bold;
}

.userspace {
 color: black;
 background: white;
 font-family: "Times", "Helvetica", serif;
 font-size: 10pt;
 text-align: justify;
 vertical-align: top;
}

.section {
 color: white;
 background: #008080;
 margin-top: 0;
 margin-bottom: 0;
 padding-top: 0;
 padding-bottom: 0;
}

#traila {
 font-family: "Times", sans-serif;
 font-weight: bold;
 font-size: 12pt;
 text-align: left;
 width: 15%;
}
#trailb {
 text-align: center;
 font-family: "Times", sans-serif;
 font-weight: bold;
 font-size: 10pt;
 color: white;
 line-height: 85%;
 width: 70%;
}
#trailc {
 font-family: "Times", sans-serif;
 font-weight: bold;
 font-size: 12pt;
 text-align: right;
 width: 15%;
}
.trailer {
 padding: 2px;
}

.names {
 font-family: "Times", sans-serif;
 font-size: 12pt;
 color: black;
}

.links {
 vertical-align: top;
 font-family: "Arial", "Helvetica", serif;
 font-weight: bold;
 font-size: 12pt;
 line-height: 150%;
 padding: 0pt;
}
.links :link, #traila :link, #trailc :link,
.links :visited, #traila :visited, #trailc :visited {
 color: #005050;
}

.menu {
 text-align: left;
 vertical-align: top; 
}

.title {
 text-align: center;
 vertical-align: middle; 
}

.index {
 color: white;
 line-height: 100%;
 text-align: center;
 font-family: "Arial", "Helvetica", sans-serif;
 font-weight: bold;
 font-size: 10pt;
 border: none;
 padding: 0;
}

.mvleft {
 position: relative;
 left: -15pt;
}
